@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Tobias Kjær Henriksen<br />
    201304131<br />
    au479319<br />
    Aarhus University
</address>

<address>
    Vejlby Toften 322a<br />
    Risskov, 8240<br />
    <abbr title="Phone">P:</abbr>
    +4520746508
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:tobi.dk@gmail.com">tobi.dk@gmail.com</a><br />
</address>
