@{
    ViewData["Title"] = "Home Page";
}

@model Opgave2.Models.HomeModel

<div>
    <h1>Welcome to the shopping list manager</h1>
</div>

<div>
    <ul>
        @foreach (var item in Model.ShoppingLists)
        {
            <li><a href="@Url.Action("Index","ShoppingList", new {item.Id})">@item.Name</a></li>
        }
        <li><a href="@Url.Action("index","ShoppingList")">Add new shopping list</a></li>
    </ul>
</div>

<div>
    
</div>